body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#weatherInfo {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}
